html, body {
  height: auto;
  background-color: darkslategray;
  color: floralwhite;
  margin: 0;
}

#header {
  top: 0;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 1;

  border-bottom: solid black 2px;
  background-color: inherit;

  vertical-align: text-bottom;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

.header-corslinks{
  position: absolute;
  margin-left: 1em;
  width: 8em;
  height: 3em;
}
.header-corslinks img{
  width: 1.7em;
  padding: 0.1em 0.5em;
}
.header-corslinks img:hover{
  background-color: lightgray;
}

.header-text {
  display:inline-block;
  
  text-align: center;
  box-sizing: border-box;

  width: calc(100vw - 10em);
  padding-left: 10em;
  padding-top: 2em;
}

.hyperlink {
  color: deepskyblue;
}
.hyperlink:hover {
  color: dodgerblue;
}

#body{
  top: 6em;
  width: 100%;
}

.text-input{
  font-size: 2.5em;
  width: 90%;
  margin: 1em 5%;
  color: #6C3108;
}

.data-table{
  width: 90%;
  margin: 0 5%;
  border-collapse: collapse;
  font-size: 2em;
}

th{
  text-align:left;
  padding-bottom: 0.5em;
  color: coral;
}

td {
  border: 1px solid white;
  padding: 10px;
}

tbody tr:hover, tbody tb:hover>td{
  background-color: lightgray;
  color: black;
  border: 1px solid black;
}

tbody tr:active{
  background-color: white;
} 

#copy-notification{
  z-index: 1;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 5em;
  height: 1.3em;
  
  background: seagreen;
  color: white;
  text-align: center;
  font-size: 3em;
    
  opacity: 1;
  transition: opacity 1s;
}

#copy-notification.hide {
  opacity: 0;
}